.#{$P}-wrap.#{$P} {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: unset !important;
  pointer-events: none;
  z-index: 99999;
}

.#{$P}-content {
  // column-count: 5;
  background-color: #000;
  pointer-events: auto;
  overflow: auto;

  height: 100vh;
}

.#{$P}-wf {
  position: relative;
  margin: 0 auto;
  width: 992px;
}

$PL: $P + '-link';

.#{$PL}-item {
  position: relative;
  height: 56px;
}

.#{$PL}-item-link,
.#{$PL}-item-title {
  height: 28px;
  line-height: 28px;
  font-size: 12px;

  @include textOverflow;
}

.#{$PL}-item-title {
  color: #fff;
}

.#{$PL}-item-link {
  color: rgb(26, 128, 211);
}

.#{$P}-mode-lights {
  position: fixed;
  left: 20px;
  top: 20px;
  max-width: 100px;

  &.is-mode-0 {
    .#{$P}-mode-light:nth-child(1) {
      background-color: $red;
    }
  }

  &.is-mode-1 {
    .#{$P}-mode-light:nth-child(2) {
      background-color: $green;
    }
  }

  &.is-mode-2 {
    .#{$P}-mode-light:nth-child(3) {
      background-color: $blue;
    }
  }
}

.#{$P}-mode-light {
  float: left;
  margin-right: 12px;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: #fff;
  background-color: transparent;
  font-size: 10px;
  text-align: center;
  transition: all 0.24s ease-in-out;

  &:last-child {
    margin-right: 0;
  }
}
